
- var loadingggg = 'https://www.vibuk.com/assets/img/fluid-loader.gif';
- var loadingggg = 'https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif';

div#TotalesNacionales(style='display:block;')

script.
	traeCovid( "#TotalesNacionales" , "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv" );

	$( document ).ready(function(){
		$.each( $( "#TotalesNacionales table tbody tr" ) , function(){
			var nombreTR = $( $( this ).find( "td" )[0] ).text().toLowerCase().split( " " ).join( "" );
			$( this ).addClass( nombreTR );
		});
	});

div#resumen
	div.fecha
		span.raya
		p 

	div.resumen.totalCasos
		div.icono
			img( data-src='./imagenes/resumen/totalCasos.png' class='lazyload' )
		p.titulo Total Casos
		div.cifras
			span.numero 
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.casosNuevos
		div.icono
			img( data-src='./imagenes/resumen/casosNuevos.png' class='lazyload' )
		p.titulo Casos Nuevos último día
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.casosActivos
		div.icono
			img( data-src='./imagenes/resumen/casosActivos.png' class='lazyload' )
		p.titulo Casos Activos
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.sintomas
		div.icono
			img( data-src='./imagenes/resumen/sintomas.png' class='lazyload' )
		p.titulo Casos nuevos
		div.sintoma
			p.conSintomas
				strong 
					img( src=loadingggg )
				span Con sintomas
			p.sinSintomas
				strong 
					img( src=loadingggg )
				span Sin sintomas

	div.resumen.recuperadosDia
		div.icono
			img( data-src='./imagenes/resumen/check.png' class='lazyload' )
		p.titulo Recuperados último día
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.recuperadosTotal
		div.icono
			img( data-src='./imagenes/resumen/check.png' class='lazyload' )
		p.titulo Total Recuperados
		div.cifras
			span.numero
				img( src=loadingggg )

	div.resumen.fallecidosDia
		div.icono
			img( data-src='./imagenes/resumen/none.png' class='lazyload' )
		p.titulo Fallecidos último día
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.fallecidosTotal
		div.icono
			img( data-src='./imagenes/resumen/none.png' class='lazyload' )
		p.titulo Fallecidos último día
		div.cifras
			span.numero
				img( src=loadingggg )

	div.resumen.ventiladoresDisponibles
		div.icono
			img( data-src='./imagenes/resumen/ventiladores.png' class='lazyload' )
		p.titulo Ventiladores disponibles
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	div.resumen.examenesPCR
		div.icono
			img( data-src='./imagenes/resumen/pcr.png' class='lazyload' )
		p.titulo Exámenes PCR últimas 24 horas
		div.cifras
			span.numero
				img( src=loadingggg )
				span.estado
				span.porcentaje

	//- FECHA TITULO
	script.
		$( document ).ready(function(){
			setTimeout(function(){

				var fechaDiaReporte 				= $( "#TotalesNacionales th" ).last().html().split( "-" )[2]
				if ( fechaDiaReporte.split( "" )[0] == 0 ) {
					var fechaDiaReporte = fechaDiaReporte.split( "" )[1];
				};
				var fechaMesReporte 				= $( "#TotalesNacionales th" ).last().html().split( "-" )[1]

				switch ( fechaMesReporte ) {
					case "01":
						var fechaMesReporte = "Enero";
						break;
					case "02":
						var fechaMesReporte = "Febrero";
						break;
					case "03":
						var fechaMesReporte = "Marzo";
						break;
					case "04":
						var fechaMesReporte = "Abril";
						break;
					case "05":
						var fechaMesReporte = "Mayo";
						break;
					case "06":
						var fechaMesReporte = "Junio";
						break;
					case "07":
						var fechaMesReporte = "Julio";
						break;
					case "08":
						var fechaMesReporte = "Agosto";
						break;
					case "09":
						var fechaMesReporte = "Septiembre";
						break;
					case "10":
						var fechaMesReporte = "Octubre";
						break;
					case "11":
						var fechaMesReporte = "Noviembre";
						break;
					case "12":
						var fechaMesReporte = "Diciembre";
						break;
					default:
						console.log( "No existe" );
				};
				
				$( "div#resumen div.fecha > p" ).html( "Resumen " + fechaDiaReporte + " de " + fechaMesReporte );
			},1000);
		});
	//- FUNCTIONS
	script.
		// Agrega decimales
		var puntuacion = function( cifra ){

			try {

				switch ( cifra.length ) {
					case 8:
						return cifra.slice(0,1) + "." + cifra.slice(1,4) + "." + cifra.slice(4,7);
						break;
					case 7:
						return cifra.slice(0,1) + "." + cifra.slice(1,4) + "." + cifra.slice(4,7);
						break;
					case 6:
						return cifra.slice(0,3) + "." + cifra.slice(3,6);
						break;
					case 5:
						return cifra.slice(0,2) + "." + cifra.slice(2,5);
						break;
					case 4:
						return cifra.slice(0,1) + "." + cifra.slice(1,4);
						break;
					case 3:
						return cifra = cifra;
						break;
					case 2:
						return cifra = cifra;
						break;
					case 1:
						return cifra = cifra;
						break;
					default:
						console.log( "No tengo un rango seteado." );
						break;
				};

			} catch ( error ) {
				
				setTimeout(function(){
					location.reload();
				},2000);
				
			};

		};

		// RESUMENES: Agrega los datos a cada div de resumen
		var resumiendo = function( nombreResumen , claseTR ){

			var contagiosTotalUltimo = $( "#TotalesNacionales > div > table tbody tr." + claseTR ).find( "td" ).last().html();
			$( "." + nombreResumen + " > div.cifras > span.numero" ).html( puntuacion( contagiosTotalUltimo ) + "<span class='estado'></span><span class='porcentaje'></span>" );

			var cifraHoy 			= $( $( "#TotalesNacionales > div > table tbody tr." + claseTR ).find( "td" )[ $( "#TotalesNacionales > div > table tbody tr." + claseTR ).find( "td" ).length-1 ] ).html();
			var cifraAnterior 	= $( $( "#TotalesNacionales > div > table tbody tr." + claseTR ).find( "td" )[ $( "#TotalesNacionales > div > table tbody tr." + claseTR ).find( "td" ).length-2 ] ).html();
			var cifraRestante 	= cifraHoy - cifraAnterior;
			var calculoInverso 	= cifraRestante * 100 / cifraHoy;
			
			if ( calculoInverso.toString().slice( 0 , 4 ).split( "-" ).length == 1 ) {
				// es positivo
				$( "." + nombreResumen + " > div.cifras" ).addClass( "positivo" );
			} else {
				// es negativo
				$( "." + nombreResumen + " > div.cifras" ).addClass( "negativo" );
			};

			$( "." + nombreResumen + " > div.cifras > span.numero > span.porcentaje" ).html( calculoInverso.toString().slice( 0 , 5 ) + "%)" )

		};
	//- TOTAL CASOS ACTIVOS
	script.
		setTimeout(function(){
			resumiendo( "totalCasos" , "casostotales" );
		},1000);
	//- CASOS NUEVOS
	script.
		setTimeout(function(){
			resumiendo( "casosNuevos" , "casosnuevostotales" );
		},1000);
	//- CASOS ACTIVOS
	script.
		setTimeout(function(){
			resumiendo( "casosActivos" , "casosactivos" );
		},1000);
	//- SINTOMAS
	script.
		setTimeout(function(){
			var conSintomas = $( $( "#TotalesNacionales > div > table tbody tr" )[1] ).find( "td" ).last().html();
			var sinSintomas = $( $( "#TotalesNacionales > div > table tbody tr" )[6] ).find( "td" ).last().html();
			$( "div.resumen.sintomas .sintoma p.conSintomas strong" ).html( puntuacion(conSintomas) );
			$( "div.resumen.sintomas .sintoma p.sinSintomas strong" ).html( puntuacion(sinSintomas) );
		},1000);
	//- RECUPERADOS ULTIMO DIA
	script.
		setTimeout(function(){
			resumiendo( "recuperadosDia" , "recuperadosDia" );
		},1000);
	//- TOTAL RECUPERADOS 
	script.
		//- casosrecuperados
		setTimeout(function(){
			$( "div#resumen .resumen.recuperadosTotal > div.cifras > span.numero" ).html( puntuacion( $( ".casosrecuperados > td" ).last().html() ) );
		},1000);
	//- FALLECIDOS ULTIMO DIA
	script.
		setTimeout(function(){
			resumiendo( "fallecidosDia" , "fallecidosDia" );
		},1000);
	//- TOTAL FALLECIDOS
	script.
		setTimeout(function(){
			$( "div#resumen .resumen.fallecidosTotal > div.cifras > span.numero" ).html( puntuacion( $( ".fallecidosTotal > td" ).last().html() ) );
		},1000);
	//- VENTILADORES DISPONIBLES
	script.
		setTimeout(function(){
			var ventiladoresDisponibles 		= $( $( "#ventiladores table tr" )[2] ).find( "td" ).last().html();
			var ventiladoresDisponiblesHoy 	= $( $( $( "#ventiladores table tr" )[2] ).find( "td" )[ $( $( "#ventiladores table tr" )[2] ).find( "td" ).length-1 ] ).html();
			var ventiladoresDisponiblesAyer 	= $( $( $( "#ventiladores table tr" )[2] ).find( "td" )[ $( $( "#ventiladores table tr" )[2] ).find( "td" ).length-2 ] ).html();
			var ventiladoresRestante 			= ventiladoresDisponiblesHoy - ventiladoresDisponiblesAyer;
			var calculoInversoDisponibles 		= ventiladoresRestante * 100 / ventiladoresDisponiblesHoy;

			$( "div#resumen .resumen.ventiladoresDisponibles > div.cifras > span.numero" ).html( puntuacion( ventiladoresDisponibles ) + "<span class='estado'></span><span class='porcentaje'></span>" );
			
			if ( ventiladoresRestante.toString().slice( 0 , 4 ).split( "-" ).length == 1 ) {
				// es positivo
				$( "div#resumen .resumen.ventiladoresDisponibles > div.cifras " ).addClass( "positivo" );
			} else {
				// es negativo
				$( "div#resumen .resumen.ventiladoresDisponibles > div.cifras " ).addClass( "negativo" );
			};

			$( "div#resumen .resumen.ventiladoresDisponibles > div.cifras > span.numero > span.porcentaje" ).html( calculoInversoDisponibles.toString().slice( 0 , 5 ) + "%)" )
		},1000);
	//- PCR
	script.
		setTimeout(function(){
			var sumaTotal = 0;

			for ( var count = 1; count <= $( ".graficos .grafico#pcrPorRegion" ).find( "tr" ).length-2; count++ ) {
				
				var ultimoValor = $( $( ".graficos .grafico#pcrPorRegion tr" )[count] ).find( "td" ).last().html();
				sumaTotal = parseInt( sumaTotal ) + parseInt( ultimoValor ) ;

				if ( count == $( ".graficos .grafico#pcrPorRegion" ).find( "tr" ).length-2 ) {
					

					var sumaPenultimoTotal = 0;
					for ( var count = 1; count <= $( ".graficos .grafico#pcrPorRegion" ).find( "tr" ).length-2; count++ ) {

						var penultimoValor = $( $( ".graficos .grafico#pcrPorRegion tr" )[count] ).find( "td" ).last().prev().html();
						sumaPenultimoTotal = parseInt( sumaPenultimoTotal ) + parseInt( penultimoValor ) ;

						if ( count == $( ".graficos .grafico#pcrPorRegion" ).find( "tr" ).length-2 ) {

							var examenesPCRHoy 		= sumaTotal;
							var examenesPCRAyer 		= sumaPenultimoTotal;
							var examenesPCRRestante 	= examenesPCRHoy - examenesPCRAyer;
							var calculoInversoPCR 		= examenesPCRRestante * 100 / examenesPCRHoy;

							$( "div#resumen .resumen.examenesPCR > div.cifras > span.numero" ).html( examenesPCRHoy );
							$( "div#resumen .resumen.examenesPCR > div.cifras > span.numero" ).html( puntuacion( $( "div#resumen .resumen.examenesPCR > div.cifras > span.numero" ).html() ) + "<span class='estado'></span><span class='porcentaje'></span>" );

							if ( examenesPCRRestante.toString().slice( 0 , 4 ).split( "-" ).length == 1 ) {
								// es positivo
								$( "div#resumen .resumen.examenesPCR > div.cifras " ).addClass( "positivo" );
							} else {
								// es negativo
								$( "div#resumen .resumen.examenesPCR > div.cifras " ).addClass( "negativo" );
							};
							$( "div#resumen .resumen.examenesPCR > div.cifras > span.numero > span.porcentaje" ).html( calculoInversoPCR.toString().slice( 0 , 5 ) + "%)" )
						
						}

					}

				}

			}

		},1000);
